@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Kurslarımız Yakında Başlayacak!</h5>
    <a asp-action="Ekle" class="btn btn-primary">İstek Ekle</a>
</div>

